html {
  font-size: 10px;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
h1 {
  font-size: 60px;
  text-align: center;
}

nav {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: #555555;
  padding: 0.5em;
}

nav ul {

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {

  color: #fff;
font-size: 16px;
  text-decoration: none;
  padding: 0.5em 1em;
}


p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}}
html {
  background-color: #3f3f3f;
}body {
  width: 600px;
  margin: 0 auto;
  background-color: #bfbfbf;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}h2 {
font-size: 18px;
  margin: 0;
  padding: 5px 0;
  color: #00539f;
  text-shadow: 1px 1px .5px black;
}h3 {
font-size: 18px;
  margin: 0;
  padding: 5px 0;
  color: #00539f;
  text-shadow: 1px 1px .5px black;
}img {
  display: block;
  margin: 5 auto;
  max-width: 100%;
}#LegoEnger {
  display: block;
  margin: 0 auto;
  max-width: 65%;
}